<h1>New User</h1>
<div id="new-user">
  <%= form_for @user do |f| %>
    <%= f.text_field :email, :placeholder => 'Email' %>
    <%= f.submit 'Create' %>
  <% end %>
</div>

<%= link_to 'Back to All Users', root_path %>
